/* html{
  scroll-snap-type: y mandatory;
} */
body{
  background-color: black;
}
.App{
  display: grid;
  place-items: center;
  height: 100vh;
}
.app_videos{
  position: relative;
  height: 550px;
  overflow: scroll;
  width:50%;
  max-width: 332px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}
.heading{       /*swipe app */
  color: white;
  position: absolute;
  top: 12px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.app_videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app_videos {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media screen and (max-width: 600px) {
  .app_videos{
    height: 560px;
    overflow: scroll;
    width: 84%;
    max-width: 443px;
  }
  .heading{
    top: 1rem;
  }
}