.sidebar{
    position: absolute;
    top: 39%;
    right: 10px;
    color: white;
}
.sidebarButtons{
    padding: 14px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .sidebar{
       top: 25%;
    }
    .css-tzssek-MuiSvgIcon-root {
        transform: scale(0.9);
      }
      
    .sidebarButtons {
        padding: 20px;
      }
      .sidebarButtons p{
          font-size: 20px;
      }
}
