.videoCard{
      position: relative;
      background-color: black;
      height: 100%;
      width: 100%;
      scroll-snap-align: start;
}
.videoDisplay{
  height: 100%;
  width: 100%;
  object-fit: fill;
}